{% extends 'base.html' %}
{% block main %}
<div id="controller" class="row">
  <div class="col-xs-12">
    <div class="row">
      <form action="/add", method="POST">
        <div class="form-group">
          <label for="youtube-url">Youtube URL</label>
          <input type="text" name="youtube-url" placeholder="Youtube URL" id="youtube-url" class="form-control">
        </div>
        <div class="col-xs-3 pull-right">
          <input type="submit" class="btn btn-block btn-lg btn-primary" value="Send">
        </div>
      </form>
    </div>
  </div>
</div><!-- controller -->
{% endblock %}
